.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 390px;
  height: 98vh;
  background: #fffef1;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.title {
  width: 12rem;
  height: 2.5rem;
  border-bottom: 1px solid #000;
  color: #000;
  margin-top: 90px;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.content-box {
  margin-top: 25px;
  width: 18rem;
  height: 27rem;
  border-radius: 5px;
  background: #ffebc5;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

.delete-btn {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  background: #dbf6ff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
  cursor: pointer;
}

.modal {
  display: none; /* initially hidden */
  /* styles for your modal */
}
